:root {
  --fg: #000;
  --bg: #fff;
}

[data-theme='dark'] {
  --fg: #fff;
  --bg: rgb(22, 21, 21);
}

[data-theme='dark'] body {
  color: #fff;
  background: rgb(22, 21, 21);
}

[data-theme='dark'] .card{
  background-color: rgb(22, 21, 21);
}

#ForFullScreen:fullscreen {
  overflow: scroll !important;
  background: white;
}
#ForFullScreen:-ms-fullscreen {
  overflow: scroll !important;
  background: white;

}

#FULLSCREEN:fullscreen {
  overflow: scroll !important;
  background: white;
}



#FULLSCREEN:-ms-fullscreen {

  background: white;

}

#ForFullScreen:-webkit-full-screen {
  overflow: scroll !important;
  background: white;

}
#ForFullScreen:-moz-full-screen {
  overflow: scroll !important;
  background: white;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  background: #3f29f9;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.navbar-light .navbar-nav .nav-link {
  color: #3f29f9;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
}
.wheel-img {
  max-width: 100% !important;
}
.btn-radius {
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
}
.bg-purple {
  background: #3f29f9;
}

.icon {
  background: #3f29f9;
  color: white;
  padding: 20px;
}
.text-purple {
  color: #3f29f9;
}
.mycustom {
  position: relative;
  border-radius: 28px;
  box-shadow: 2px 2px 2px gray;
}
.mycustom input[type="text"] {
  width: 100%;
  border-radius: 28px;
  width: 500px;
  height: 50px;
  border-top-right-radius: 28px !important;
  border-bottom-right-radius: 28px !important;
}
.mycustom .input-group-prepend {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  z-index: 9;
}

.name-card {
  box-shadow: 5px 5px 5px silver;
  border-radius: 15px;
}

.footer-card {
  border: 0;
}
.footer-card img {
  width: 50%;
}
.footer-social-icons {
  list-style: none;
  text-align: center;
}
.footer-social-icons li {
  display: inline;
  margin-right: 30px;
}
.fontawesome-icon {
  width: 20px;
}
.facebook-icon {
  width: 15px;
}
#spinBtn {
  cursor: pointer;
}
.sponsor-img {
  cursor: pointer;
}
.login-modal .modal-header {
  border: 0;
}
.wheel_frame {
  width: 720px;
  z-index: -100;
  margin: auto;
  /* padding: 10px; */
  margin-top: -109px;
  margin-left: -22px;
}
.range {
  width: 100%;
  height: 20px;
}
.pot-group {
  width: 600px;
  height: 680px;
  margin-top: 20%;
}

.pot-group .row{
  width: 90% !important;
}

.pot-group .row .col-3 ,.col-4{
  padding: 0% !important;
  
}

.transform {
  transform: rotate3d(0.5, -0.866, 0, 55deg) rotate(20deg);
  animation-name: animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.transform2 {
  transform: rotate3d(0.5, -0.866, 0, 55deg) rotate(-20deg);
  animation-name: animation2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.shuffleAnimation{
  /* transform: rotate3d(0.5, -0.866, 0, 55deg) rotate(-20deg); */
  animation-name: shuffleanimation;
  animation-duration: 1s;
  /* animation-iteration-count: infinite; */
}


@keyframes shuffleanimation {
  from {
    /* margin-left: 200px; */
    opacity: 0.1;
  }

  /* 50% {
    margin-left: 110px;
    opacity: 0.5;
  } */

  to {
    margin-left: 0px;


  }
}
@keyframes animation {
  from {
    top: 10px;
  }
  to {
    top: 0px;
  }
}
@keyframes animation2 {
  from {
    top: 0px;
  }
  to {
    top: 10px;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@media screen and (max-width: 500px) {
  .container-sm {
    width: 700px;
  }
}

@media only screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
  .test {
    padding: 0 200px 0 200px;
  }
   #ForFullScreen{
    margin-left: -50px;
   }

   .centerWheelImg{
    position:absolute;
    left:79%;
    top:65%;
    z-index:9999;
    border-radius:200px
  }
  
}

/* 
.test{
  margin-left: 15% !important;
}

.Pot-or-Wheel{
  margin-left: 5% !important;
} */

/* .ThreeD-mode{
  margin-left: 20% !important;
} */

.Participants-repeat{
  margin-top: 4%;
  height: 35px;
  width: 50px;
  border: 2px solid #3f29f9!important ;
}

#wheel{
  max-width: 100% !important;
  /* margin-left: 5%; */
  margin-bottom: 30%;
}
 

.Arrow-Images >img:hover{
  border: solid 2px #1e88e5;
  border-radius: 2px;
}

.Arrow-Images > img.active{
  border: solid 2px #43a047;
  border-radius: 2px;
}



.Modal-class{
  position: absolute;
margin: 0%;
width: 30%;
height: 30%;
top: 40%;
left: 35%;
right: auto;
bottom: auto;
/* background-color: aliceblue; */
}

@media (max-width: 480px) {
  .Modal-class{
    position: absolute;
  margin: 0%;
  width: 30%;
  height: 8%;
  top: 20%;
  left: 8% !important;
  right: auto;
  bottom: auto;
  background-color: aliceblue;
  padding-top: 3%;
  transform: 'translate(-50%, -50%)';
  }
}

.Modal-Overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: -10%;
  bottom: 0;
  background-color: 'rgba(255, 255, 255, 0.75)';
}

.Modal-body{
  overflow-x: hidden !important;
}

.Progress-container{
  padding:1%;
  height: 5%;

}
.Progresslabel{
  color: white;
  font-weight: bold;
  padding: 5%;
}

.barCompleted{
  background-color: blue;
  height: 105%;
  border-radius: 5px;
}

.Progresscontainer{
  background-color: white;
}
/* .ProgressBarDiv{
  transform: rotate(270deg);
} */